@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
body {
  height: 100%;
  background: url(hl-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

header {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 28.2%;
  bottom: 20px;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

header h1 {
  letter-spacing: 10px;
  /* Species the spacing with pixels as parameters in between letters. */
  font-size: 50px;
  padding: 0 15px;
  background: #f74843;
  border: 10px solid #f74843;
}

header .smallE {
  font-size: 30px;
  position: relative;
  top: -22%;
}

main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  bottom: 50px;
}

main div {
  width: 650px;
}

main div h4 {
  color: #f74843;
  font-size: 58px;
  font-family: "Bebas Neue", cursive;
  text-align: left;
}

main div p {
  position: relative;
  bottom: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  width: 650px;
  margin: 0 auto;
  color: white;
}

#onlyThis a:hover {
  color: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 50px;
  padding-bottom: 80px;
}

nav ul {
  margin: 0 auto;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #f74843;
  font-size: 70px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

nav ul li div {
  display: none;
  margin: 20px auto;
  padding: 10px 200px;
  position: relative;
  right: 30%;
  background-color: #f74843;
  width: 100%;
  border-radius: 10px;
  color: black;
}

nav ul li div h3 {
  position: relative;
  bottom: 10px;
  font-size: 44px;
  font-family: "Bebas Neue", cursive;
}

nav ul li div form {
  position: relative;
  bottom: 30px;
}

nav ul li div form label {
  margin: 0 auto;
  position: relative;
  bottom: 5px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}

nav ul li div form label input {
  background-color: #f74843;
  height: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  border: none;
  position: relative;
  top: 15px;
}

nav ul li div form label ::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

nav ul li div form label :-ms-input-placeholder {
  color: white;
  opacity: 1;
}

nav ul li div form label ::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

nav ul li div form label ::placeholder {
  color: white;
  opacity: 1;
}

nav ul li div form label button {
  position: relative;
  top: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  height: 60px;
  border: none;
  border-radius: 5px;
}

nav ul li div form label button .space {
  padding-left: 2.5px;
  position: relative;
  font-size: 30px;
}

footer {
  width: 100%;
  background: #f74843;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Bebas Neue", cursive;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  right: 20px;
}

footer #divOne p {
  color: white;
  font-size: 25px;
}

footer #Contact {
  color: black;
}

footer #People {
  color: black;
}

footer ul li {
  list-style: none;
  text-align: left;
}

footer ul li a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */